dist
.bob
.bob-packed
.cache
node_modules/
yarn-error.log
**/*/node_modules/
**/*/dist/
**/*/build/
**/*/yarn-error.log
.env
private-key.pem
.DS_Store
yarn.lock
website/**/yarn.lock
website/**/package-lock.json
public/
.now
.vercel
