{
  "bracketSpacing": false,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["website/**"],
      "options": {
        "bracketSpacing": true
      }
    }
  ]
}
