dist/
.next/
lib/
.vscode/
action/

# action source can be prettified
!packages/action

# remove when prettier will support MDX (v3)
.bob/
.changeset/*.md
pnpm-lock.yaml
packages/core/CHANGELOG.md
packages/**/*.md
.husky/
