.contactForm {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #4d6894;
  box-sizing: border-box;
}

.contactForm:hover {
  border-color: #4a4a4a;
}

.contactForm:focus {
  border-color: #fff;
}

.contactInput {
  flex: 1;
  background: transparent;
  outline: none;
  line-height: 35px;
}

.contactInput::placeholder {
  color: #4a4a4a;
}

.contactStatus {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: -35px;
}

.contactStatus.success {
  color: #354c87;
}

.contactStatus.error {
  color: #cc2b14;
}

.contactStatus.error a {
  font-weight: bold;
  text-decoration: underline;
  color: #cc2b14;
}

.contactDirectly {
  font-weight: 800 !important;
  text-decoration: none !important;
}
