.changeBox {
  margin-bottom: 5px;
  padding: 10px;
  display: block;
  border: 1px solid #4a4a4a;
  font-size: 12px;
  line-height: 30px;
  box-shadow: 0 25px 68px 0 rgba(0, 0, 0, 0.02);
  border-left-width: 3px;
  border-left-style: solid;
  background-color: #354c87;
  color: #fff;
  border-radius: 5px;
}

.changeMessage {
  font-weight: 600;
}

.changeMessage span {
  padding: 5px 7px;
  background-color: #1e1e1e;
  border-radius: 5px;
  font-weight: 600;
}
